
<%- include('./_header_footer/pagheader') %>


    <div class="container">
        <!-- best selling products-->
        <section class="best-selling">
            <h1 class="best-selling-h1"> Mostly Purchase Products</h1>
            <div class="best-selling-product">
                <% products.slice(0,4).forEach(item => { %>
                    <div class="prod-card">
                        <img src="images/<%= item.image %>" alt="img" class="prod-img" />

                        <% if(item.sale_price){ %>
                            <h3>$<strong class="red"><%= item.sale_price %></strong></h3>
                            <h3 style="text-decoration: line-through; font-size: small;">$<strong class="red"><%= item.price %></strong></h3>
                    
                        <% }else{ %>
                            <h3>$<strong class="red"><%= item.price %></strong></h3>
                        <% } %>
                        <span class="prod-name"><%= item.name %> <i class="fa fa-arrow-right" aria-hidden="true"></i></span>


                        <form action="/cart/add_to_cart" method="post">
                            <input type="hidden" name="id" value="<%= item.id %>">
                            <input type="hidden" name="name" value="<%= item.name %>">
                            <input type="hidden" name="price" value="<%= item.price %>">
                            <input type="hidden" name="image" value="<%= item.image %>">
                            <input type="hidden" name="sale_price" value="<%= item.sale_price %>">
                            <input type="hidden" name="quantity" value="1" min="1">
                            <input type="submit" value="Add to cart" class="btn btn-primary">
                        </form>
                    </div>
                <% }) %>
            </div>
        </section>
        <!-- best selling products ends-->
        
        <!-- ring part => second block-->
        <section id="main-section">
            <div class="m_content">
                <img src="/images/christmas.png" alt="">  
            </div>

             <!-- main image -->

             <div class="m_image">
                <div class="background_element">
                    <div class="rings"></div>
                    <div class="rings"></div>
                    <div class="rings"></div>
                </div>

                <!-- platform image -->
                <div class="platform">
                    <img src="/images/lens.png" alt="" class="dish">
                    <img src="/images/dress.png" alt="" class="dish">
                    <div class="dish">
                        <h1 class="tit">Make everyday count with a <span>season</span>gift</h1>
                        <p class="tit-info">
                            That makes u standout this holiday season. Shop smarter with us.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, inventore numquam. Nam pariatur vol
                        </p>
                        <button class="a-btn transparent">Shop Now</button>
                    </div> 
                </div>
            </div>
        </section>
        <!-- ring part => second block ends-->

        <!-- collage => third block -->
        <section class="third-block">
            <div class="collage-img">
                <div class="collection">
                    <img src="/images/blender.png" alt="" class="img">
                    <img src="/images/spa-kit.png" alt="" class="img">
                    <img src="/images/camera.png" alt="" class="img">
                </div>
            </div>
        </section>
        <!-- collage => third block ends -->
    </div>

    <!-- reviews -->
    <div class="reviews">
        <div class="review-box">
            <div class="reviewer-info">
                <img src="/images/user-1.png" alt="" class="rever-img">
    
                <div class="reviewer">
                    <div class="reviewer-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <p>4.5</p>
                    </div>
                    <h2 class="reviewer-name">Ada</h2>
                </div>
            </div>
            <div class="reviewer-comment">
                <i class="fa-solid fa-quote-left"></i>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tenetur voluptas magnam a labore sed corporis dolores omnis quo repellat beatae, repudiandae voluptatum, alias, earum deserunt rerum inventore corrupti pariatur.
                </p>
            </div>
        </div>
        <div class="review-box">
            <div class="reviewer-info">
                <img src="/images/godisable.png" alt="" class="rever-img">
    
                <div class="reviewer">
                    <div class="reviewer-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <p>4.5</p>
                    </div>
                    <h2 class="reviewer-name">Bumi</h2>
                </div>
            </div>
            <div class="reviewer-comment">
                <i class="fa-solid fa-quote-left"></i>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tenetur voluptas magnam a labore sed corporis dolores omnis quo repellat beatae, repudiandae voluptatum, alias, earum deserunt rerum inventore corrupti pariatur.
                </p>
            </div>
        </div>
    </div>
    <!-- reviews ends -->
    
<%- include('./_header_footer/pagfooter') %>   
